---
layout: homepage
title: Home
---
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Hi! We're WITS.</h2>
                    <hr class="light">
                    <p class="text-faded">WITS is a society for UOW students interested in IT. Members can socialise, work together on projects and gain exposure in the industry. We have members interested in programming, networking, gaming - really, anything related to computers!</p>
                    <p class="text-faded">WITS run a number of events throughout session to benefit members. Past events have included Drive With WITS, High iTea, Linux Installfest and Hackagong.</p>
                    <a href="#" class="btn btn-default btn-xl">Learn More</a>
                </div>
            </div>
        </div>
    </section>

    <section id="newsevents">
        <div class="container">
            <div class="row">
                <div class="col-md-3 event-listing">
                    <h3>Next Event <span><a href="/events/">view more <i class="fa fa-arrow-circle-right"></i></a></span></h3>
                    {% assign events = site.events | sort: 'startdate' %}
                    {% assign todaysTime = site.time | date: "%s" %}

                    {% capture count %}0{% endcapture %}
                    {% for event in events %}
                        {% assign enddatetimestamp = event.enddate | date: "%s" %}

                        {% if enddatetimestamp > todaysTime %}
                            {% capture count %}{{ count | plus: '1' }}{% endcapture %}

                            {% if count == '1' %}
                                <a href="{{ event.url }}"><img src="{% if event.image %}{{ event.image }}{% else %}/img/events/noimage.jpg{% endif %}" /></a>
                                <a href="{{ event.url }}"><h4>{{ event.title }}</h4></a>
                                <p class="date"><i class="fa fa-clock-o"></i> {{ event.startdate | date: "%-d %B %Y %l:%M %p" }}</p>
                                <p>{{ event.excerpt }}</p>
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {% if count == "0" %}
                        <p>Sorry! We're not running any events right now. Check back soon.</p>
                    {% endif %}
                </div>

                <div class="col-md-9">
                    <h3>Featured</h3>
                    <div class="row">
                        <div class="col-md-4">
                            test
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Join WITS</h2>
                <p>If you love tech, then we'd love to have you.</p>
                <a href="#" class="btn btn-default btn-xl wow tada">Find Out More</a>
            </div>
        </div>
    </aside>