<nav id="{% if page.title == "Home" %}homeNav{% else %}mainNav{% endif %}" class="navbar navbar-default navbar-fixed-top{% if page.title != "Home" %} affix{% endif %}">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="{{ site.url }}"><div class="navbar-logo wow bounceIn"></div></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ site.url }}join">Join Us</a>
                </li>
                <li>
                    <a href="{{ site.url }}events">Events</a>
                </li>
                <li>
                    <a href="{{ site.url }}blog">Blog</a>
                </li>
                <li>
                    <a href="{{ site.url }}about">About</a>
                </li>
                <li>
                    <a href="{{ site.url }}contact">Get In Touch</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>