---
layout: default
---
     <header>
    	<div class="header-inside">
	        <div class="header-content">
	            <div class="header-content-inner">
	                <h1>Empowering Technologists,<br />Inspiring Communities</h1>
	                <p>WITS is the Wollongong Information Technology Society at the University of Wollongong.</p>
	                <a href="#about" class="btn btn-primary btn-xl page-scroll mr10">Find Out More</a> <a href="#about" class="btn btn-primary btn-xl page-scroll">Join Now</a>
	            </div>
	        </div>
        </div>
    </header>
    
    {{ content }}